<div class='modal-wrapper' id='modal-wrapper'>
  <form class='book-form' id='book-form'>
    <h3>New Book</h3>

    <label class='block'>Tittle</label>
    <input type='text' name="title">

    <label class='block'>Author</label>
    <input type='text' name="author">

    <label class='block'>Status</label>
    <input type="radio" name="status" value="read" checked="checked">
    <label>Read</label><br>
    <input type="radio" name="status" value="unread">
    <label>Unread</label><br><br>

    <button class='btn' id='add-book'>Add book</button>
  </form>
</div>
